<div style="position: relative; top: 0px; left: 0px;">
</div>

<ul class="x-navigation">
    <li class=" rLogo" style="background-color: #E34724">
        <a href="#endpoints" style="font-size: 17px; font-weight: bold;text-align: center;">ServiceConnect.Monitor</a>
    </li>
    <li class="active">
        <a href="#endpoints"><span class="fa fa fa-share-alt"></span><span class="xn-text">Endpoints</span></a>
    </li>
    <li>
        <a href="#audit"><i class="fa fa-envelope"></i><span class="xn-text">Audit Messages</span></a>
    </li>
    <li class="errors">
        <a href="#error"><i class="fa fa-exclamation-circle"></i><span class="xn-text">Error Messages</span><span class="error-icon fa fa-warning" style="float: right; color: red; margin-right: 0; margin-top: 5px; display: none;"></span></a>
    </li>
    <li>
        <a href="#settings"><i class="fa fa-cog"></i><span class="xn-text">Settings</span></a>
    </li>
</ul>