<!doctype html>
<html lang="en">
<head>
    <title>R MessageBus Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="@Url.Content("~/Scripts/dist/r.messagebus.monitor.min.css")" rel="stylesheet" />
    <script data-main="Scripts/main" src="Scripts/bower_components/requirejs/require.js"></script>
</head>
    <body>
        <div class="page-container">
            <div id="sidebar-wrapper" class="navigation page-sidebar page-sidebar-fixed" style="height: 939px; background-color:  #33414e">
            </div>
            <div class="page-content">
                 <div id="page-content-wrapper">
                    <div class="mainContent page-content-wrap"></div>
                </div>
            </div>
        </div>
    </body>
</html>