<div class="content-frame">
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-list"></span> Error Details</h2>
        </div>
    </div>
    <div class="page-content-wrap">

        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Type Name</label>
                        <input type="text" class="form-control TypeName" readonly>
                    </div>
                    <div class="form-group">
                        <label>Full Type Name</label>
                        <input type="text" class="form-control FullTypeName" readonly>
                    </div>
                    <div class="form-group">
                        <label>Message Type</label>
                        <input type="text" class="form-control MessageType" readonly>
                    </div>
                    <div class="form-group">
                        <label>Consumer Type</label>
                        <input type="text" class="form-control ConsumerType" readonly>
                    </div>
                    <div class="form-group">
                        <label>Language</label>
                        <input type="text" class="form-control Language" readonly>
                    </div>
                    <div class="form-group">
                        <label>Source Machine</label>
                        <input type="text" class="form-control SourceMachine" readonly>
                    </div>
                    <div class="form-group">
                        <label>Source Address</label>
                        <input type="text" class="form-control SourceAddress" readonly>
                    </div>
                    <div class="form-group">
                        <label>Destination Machine</label>
                        <input type="text" class="form-control DestinationMachine" readonly>
                    </div>
                    <div class="form-group">
                        <label>Destination Address</label>
                        <input type="text" class="form-control DestinationAddress" readonly>
                    </div>
                    <div class="form-group">
                        <label>Time Sent</label>
                        <input type="text" class="form-control TimeSent" readonly>
                    </div>
                    <div class="form-group">
                        <label>Time Received</label>
                        <input type="text" class="form-control TimeReceived" readonly>
                    </div>
                    <div class="form-group">
                        <label>Time Processed</label>
                        <input type="text" class="form-control TimeProcessed" readonly>
                    </div>
                    <div class="form-group">
                        <label>Processing Time</label>
                        <input type="text" class="form-control ProcessingTime" readonly>
                    </div>
                    <div class="form-group">
                        <label>Exception</label>
                        <pre class="Exception json" style="width: 100%;"></pre>
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <pre class="Body json" style="width: 100%;"></pre>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>