<div class="errorRetryModal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Retry Errors</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to retry these messages?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger confirm">Yes</button>
                <button type="button" class="btn btn-default closeModal">No</button>
            </div>
        </div>
    </div>
</div>