<div class="content-frame">
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-random"></span> Route</h2>
        </div>
    </div>
    <div class="page-content-wrap">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 endpointGraph"></div>
                </div>
                <div class="row">
                    <div id="slider"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 routeTable"></div>
                </div>
            </div>
        </div>
    </div>
</div>