<h3 style="margin-top: 0px;">Audit Messages</h3>
<div class="row" style="padding-bottom: 10px; padding-top: 10px;">
    <div class="col-md-1 ">
        <label class="control-label dateRange" style="padding-top: 5px;">From: </label>
    </div>
    <div class="col-md-3 ">
        <div class="dateRange">
            <div datepicker="" class="input-group date" style="width: 100%">
                <input class="form-control from" type="text" value="" style="width: 100%">
                <span class="input-group-addon" style="width: 50px"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-1 ">
        <label class="control-label dateRange" style="padding-top: 5px;">To: </label>
    </div>
    <div class="col-md-3 ">
        <div class="dateRange">
            <div datepicker="" class="input-group date" style="width: 100%">
                <input id="startDateTime" class="form-control to" type="text" value="" style="width: 100%">
                <span class="input-group-addon" style="width: 50px"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <select class="form-control timeRange">
            <option selected>Last 5m</option>
            <option>Last 15m</option>
            <option>Last 30m</option>
            <option>Last 1h</option>
            <option>Last 2h</option>
            <option>Last 4h</option>
            <option>Last 6h</option>
            <option>Last 12h</option>
            <option>Last 24h</option>
            <option>Last 2d</option>
            <option>Last 7d</option>
            <option>Last 14d</option>
            <option>Last 30d</option>
            <option>Custom Range</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control tags" style="float: right; width: 100%;" placeholder="Filter by tags">
    </div>
</div>
<div class="row auditHistogram">

</div>
<div class="row">
    <div class="col-sm-12 auditTable"></div>
</div>