<div class="deleteServiceModal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Service</h4>
            </div>
            <div class="modal-body">
                <label>Are you sure you want to delete this service?</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary yesDeleteModal">Yes</button>
                <button type="button" class="btn btn-default noDeleteModal">No</button>
            </div>
        </div>
    </div>
</div>