<form role="form">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control name" readonly>
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control location" readonly />
    </div>
    <div class="form-group">
        <label>Consumer Type</label>
        <input type="text" class="form-control consumerType" readonly>
    </div>
    <div class="form-group">
        <label>Language</label>
        <input type="text" class="form-control language" readonly>
    </div>
    <div>
        <label>Messages In</label>
    </div>
    <div class="inGrid" style="background-color: white">
    </div>
    <div class="inPaginator">
    </div>
    <div>
        <label>Messages Out</label>
    </div>
    <div class="outGrid" style="background-color: white">
    </div>
    <div class="outPaginator">
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input type="text" class="form-control tags">
    </div>
    <button type="submit" class="btn btn-default saveServiceDetails">Save</button>
</form>